.stage-skills-cont {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.tctooltip {
  left: 50% !important;
  top: 50% !important;
  background-color: white;
  padding: 30px;
  display: none;
}

.skillSpan {
  color: #ffd700;
}

